* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "楷体";
}

a {
	text-decoration: none;
	color: #8f8f8f;
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: #df2d2d;
}

.mui-bar a{
	padding-top: 4px;
}
.icon-dianyingb{
	font-size: 30px;
}
.icon-yingyuanb{
	font-size: 23px;
}

.icon-faxian2{
	font-size: 24px;
}

.icon-wode{
	font-size: 23px; 
	font-weight: bold;
}

.icon-daifukuan{
	font-size: 20px;
}

.icon-daipingjia{
	font-size: 24px;
}
.icon-tuikuan{
	font-size: 23px;
}

.icon-tuikuan1{
	font-size: 19px;
}

.login-all {
	width: 100%;
}

.content-block li {
	background: #fff;
	cursor: pointer;
	color: #000;
}


/*未登录*/

.login {
	width: 100%;
	height: 100px;
	background: rgb(223, 45, 45);
	line-height: 100px;
	color: #fff;
	cursor: pointer;
	display: none;
}

.login-img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: url(../img/logo.jpg);
	background-size: 100% 100%;
	margin-top: 20px;
	float: left;
	margin-left: 10px;
}

.login p {
	display: block;
	float: left;
	margin-left: 10px;
}

.login span {
	float: right;
	margin-right: 10px;
	margin-top: 36px;
}


/*已登录*/

.login-message {
	width: 100%;
	height: 100px;
	background: rgb(223, 45, 45);
	line-height: 100px;
	color: #fff;
	cursor: pointer;
	display: block;
}

.img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: url(../img/logo.jpg);
	background-size: 100% 100%;
	margin-top: 20px;
	float: left;
	margin-left: 10px;
}

.login-message p {
	display: block;
	float: left;
	margin-left: 10px;
}

.login-message span {
	float: right;
	margin-right: 10px;
	margin-top: 36px;
}

.operation {
	width: 100%;
	height: 70px;
	background: #fff;
	border-bottom: 1px solid rgb(214, 214, 214);
}


/*2*/

.operation li {
	margin-top: 7px;
	width: 25%;
	float: left;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid rgb(214, 214, 214);
}

.operation li:last-child {
	border: none;
}

.operation li span {
	font-size: 30px;
}

.operation li .mui-icon-extra-heart-filled {
	color: red;
}

.operation li .mui-icon-eye {
	color: #38cbb7;
}

.operation li .mui-icon-extra-comment {
	margin-top: 5px;
	color: lawngreen;
	font-size: 25px;
}

.operation li .mui-icon-starhalf {
	color: #21b5f1;
}

.operation li em {
	width: 100%;
	float: left;
	font-size: 14px;
	font-style: normal;
}


/*3*/

.myitem {
	width: 100%;
	height: 115px;
	margin-top: 20px;
	background: #fff;
	border-top: 1px solid rgb(214, 214, 214);
	border-bottom: 1px solid rgb(214, 214, 214);
}

.myitem-title {
	width: 100%;
	height: 49px;
	border-bottom: 1px solid rgb(214, 214, 214);
	line-height: 49px;
	cursor: pointer;
	color: #000000;
}

.myitem-title p {
	display: inline-block;
	margin-left: 10px;
}

.myitem-title span {
	float: right;
	color: #000000;
}

.myitem-title .mui-icon {
	margin-top: 13px;
}

.myitem-list {
	width: 100%;
	height: 65px;
}

.myitem-list li {
	margin-top: 8px;
	width: 25%;
	float: left;
	text-align: center;
	cursor: pointer;
	color: #8f8f8f;
}

.myitem-list li em {
	width: 100%;
	float: left;
	font-size: 12px;
	font-style: normal;
}


/*456*/

.list {
	width: 100%;
	margin-top: 20px;
}

.list li {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgb(214, 214, 214);
	line-height: 50px;
}

.list li p {
	display: inline-block;
	margin-left: 10px;
}

.list li span {
	float: right;
	margin-top: 12px;
}

/*我的资料*/
.userList{
	width:100%;
}
.userList ul{
	margin-top: 20px;
}
.userList li{
	border-bottom: 1px solid rgb(214, 214, 214);
	line-height: 43px;
}
.userList li:last-child{
	border: none;
}

.text-name{
	margin-left: 10px;
}

.touxiang{
	line-height: 70px !important;
}

.touxiang-img{
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

.touxiang-img img{
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
}
.userList li span:last-child{
	float: right;
	margin-right: 10px;
}
.bottom {
	width: 100%;
	height: 70px;
}

.update{
	float: right;
	font-size: 16px !important;
	color: #fff;
	cursor: pointer;
}
